<template name="sponsersTemplate">
    <div class="w3-container w3-display-middle ">
        <p class="w3-text-blue w3-center w3-text-shadow" style="font-size:60px;"> <img src=".\sponsors.jpg"></p>
    </div>

</template>